{% extends "CoreBundle::layout.html.twig" %}

{% block title "MarwolfGaming - Topics" %}

{% block content_header '' %}

{% block content %}
    <h1>Topics</h1>
    <div id="topics-list">
		{% for topic in topics %}
			<a href="/topics/{{ topic.id }}">
				{{ topic.subject }}
			</a>
		{% endfor %}
	</div>
{% endblock %}
