{% extends "CoreBundle::layout.html.twig" %}

{% block title "MarwolfGaming - " ~ user.name %}

{% block content %}
    <h1>{{ user.name }}!</h1>
	<div id="user_info">
		<div id="user_image">
			<img src="http://vanillicon.com/{{ user.encname }}_200.png" />
		</div>
		Email : {{ user.email }}<br />
		Registered : {{ user.registered|date("m/d/Y") }}<br />
	</div>
{% endblock %}