{% extends 'CoreBundle::layout.html.twig' %}

{% block title %}MarwolfGaming{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Home</h1>

    <p>Blog or homepage/news feed will go here. Or even a static/dynamic page to display site information.</p>
{% endblock %}
