{% extends 'CoreBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Welcome!</h1>

    <p>Congratulations! You have successfully installed a new Symfony application.</p>
{% endblock %}
